<div class="footer">
  <div class="container d-flex justify-content-between py-5">
    <div class="contact-info">
      <p class="h5 text-uppercase">get in touch</p>
      <div>
        <i class="fa-solid fa-envelope"></i>
        <span>usama.abuelnour&commat;gmail.com</span>
      </div>
      <div>
        <i class="fa-solid fa-address-card"></i> <span>&plus;201278940747</span>
      </div>
    </div>
    <button class="text-uppercase btn btn-outline-light rounded-1 align-self-center">
      contact me
    </button>
    <div class="social-media d-flex flex-column justify-content-between">
      <div class=" d-flex justify-content-end column-gap-3 mt-4 ">
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-x-twitter"></i>
      </div>
      Copyright &copy;2024UA
    </div>
  </div>
</div>
