<div class="aboutUs">
    <div class="container d-flex justify-content-between py-5">
        <p class="h1">About us</p>
        <div class="w-75">
            <p class="fw-normal text-secondary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste repudiandae nobis commodi ea unde tempora rerum esse tenetur sint nulla debitis doloribus, porro beatae officia corrupti, vero officiis non earum ut quidem est ad eius! Nam corrupti ab commodi aspernatur.</p>
            <button class="btn btn-secondary rounded-1">Download Resume</button>
        </div>
    </div>
</div>