<div class="skills">
  <div class="container text-light text-center py-5 d-flex flex-column gap-4">
    <p class="h1">Skills</p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum ab officia
      eveniet nemo! Repellendus quam illo at non debitis soluta culpa labore,
      iste voluptatum dolor incidunt expedita fuga explicabo possimus!
    </p>
    <div class="myFocus-progress-Wrapper d-flex justify-content-between">
      <div>
        <p
          class="border border-2 border-top-0 border-start-0 border-end-0 py-2"
        >
          MY FOCUS
        </p>
        <p class="text-start px-3">UI/UX Design</p>
        <p class="text-start px-3">Responsive Design</p>
        <p class="text-start px-3">Web Design</p>
        <p class="text-start px-3">Mobile App Design</p>
      </div>

      <div class="progressWrapper w-50">
        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
           <div class="label">HTML</div>
            <div class="progress-bar" style="width: 100%"></div>
          </div>
      </div>
    </div>
  </div>
</div>
