<div class="skills">
  <div
    class="container w-75 text-light text-center py-5 d-flex flex-column gap-4"
  >
    <p class="h1">Skills</p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum ab officia
      eveniet nemo! Repellendus quam illo at non debitis soluta culpa labore,
      iste voluptatum dolor incidunt expedita fuga explicabo possimus!
    </p>
    <div
      class="myFocus-progress-Wrapper d-flex justify-content-around align-items-center"
    >
      <div>
        <p class="border-bottom border-2 py-2">MY FOCUS</p>
        <p class="text-start px-3">UI/UX Design</p>
        <p class="text-start px-3">Responsive Design</p>
        <p class="text-start px-3">Web Design</p>
        <p class="text-start px-3">Mobile App Design</p>
      </div>

      <div class="progressWrapper w-50 d-flex flex-column row-gap-3">
        <app-progress-bar
          *ngFor="let skill of skills"
          [skill]="skill.name"
          [percentage]="skill.percentage"
        />
      </div>
    </div>
  </div>
</div>
